html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: #d2d7df;
}

h1 {
	font-size: 60px;
	text-align: left;
	margin: 0;
	padding: 20px 0;
	color: black;
}

p {
	width: 100%;
	font-size: 17px;
	line-height: 1.5;
	letter-spacing: 1px;

}

body {
	width: 100%;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;

}

.button-link-inactive{
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #d2d7df;
	color: #1b4965;
}

.button-link-inactive:hover {
	background-color: #1b4965;
	color: #fff;
}

.button-link-active {
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #d2d7df;
	color: #1b4965;
	border-bottom-width: 3px;
	border-bottom-color: #1b4965;
	border-bottom-style: solid;
}

.button-link-active:hover {
	background-color: #1b4965;
	color: #fff;
}