html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: #d2d7df;
}

body {
	width: 95%;
	padding: 20px 20px 20px 20px;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;

}

h1 {
	font-size: 60px;
	text-align: left;
	margin: 0;
	padding: 20px 0;
	color: black;
}

h2 {
	font-size: 40px;
	text-align: left;
	margin: 0;
	padding: 20px 0;
	color: black;
}

p {
	width: 100%;
	font-size: 17px;
	line-height: 1.5;
	letter-spacing: 1px;

}

div {
	display: block;
}

hr {
	border: 1px solid black;
	margin: 30px auto;
	width: 50%;
	text-align: center;
}

.centered {
  width: 1000px; /* Adjust the width as needed */
  margin: auto;
  /*position: static;*/
  top: 50%;
  left: 50%;
}

.centered-clipped {
	width: 1000px;
 	margin: auto;
 	top: 50px;
 	left: 50%;
}

/*button styles */
.content {
	max-width: 50%;
	align-content: center;
	align-items: center;
}

.button-link-inactive{
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #d2d7df;
	color: #1b4965;
}

.button-link-inactive:hover {
	background-color: #1b4965;
	color: #fff;
}

.button-link-active {
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #d2d7df;
	color: #1b4965;
	border-bottom-width: 3px;
	border-bottom-color: #1b4965;
	border-bottom-style: solid;
}

.button-link-active:hover {
	background-color: #1b4965;
	color: #fff;
}